# FastAPI and Web Framework
fastapi
uvicorn[standard]
python-multipart
gunicorn

# Authentication
PyJWT
python-dotenv
pydantic


# LangChain and AI - COMPATIBLE VERSIONS
langchain
langchain-community
langchain-groq
langchain-core

# Vector Store andmbeddings
faiss-cpu
sentence-transformers

# Document Processing
pypdf2
requests
pypdf
unstructured
sentence-transformers
huggingface-hub
pdfminer.six

# Web Scraping and Automation
apscheduler
beautifulsoup4
playwright